{{back-button}}

<div class="page-header">
	<h1>{{model.item.name}}</h1>

	{{#if model.item.equipped}}
		{{item/equipped-badge}}
	{{/if}}
</div>

<p class="lead">{{model.item.description}}</p>

{{#if model.item.friendlyType}}
	<h4>Type:</h4>
	{{model.item.friendlyType}}

	{{#if model.item.friendlySubtype}}
		- {{model.item.friendlySubtype}}
	{{/if}}
{{/if}}

{{#if model.item.stats}}
	<h4>Item Stats</h4>

	{{#each-in model.item.stats as |key value|}}
		{{key}}: {{value}}
	{{/each-in}}
{{/if}}

<h4>Value:</h4>
{{model.item.cost}}

{{#if model.item.skill}}
	<h4>Skills:</h4>
	{{#each model.item.skill as |skill|}}
		{{#link-to 'skill.show' skill.id}}
			<span class="badge">{{skill.friendlyName}}</span>
		{{/link-to}}
	{{/each}}
{{/if}}