{{back-button}}

<div class="page-header">
	<h1>{{model.item.name}}</h1>

	{{#if model.item.equipped}}
		{{item/equipped-badge}}
	{{/if}}
</div>

<p class="lead">{{model.item.description}}</p>

{{#if model.item.subType}}
	<h4>Type:</h4>
	{{model.item.type}}

	{{#if model.item.subType}}
		({{model.item.subType}})
	{{/if}}
{{/if}}

{{#if model.item.stats}}
	<h4>Item Stats</h4>

	{{#each-in model.item.stats as |key value|}}
		{{key}}: {{value}}
	{{/each-in}}
{{/if}}

<h4>Value:</h4>
{{model.item.cost}}

{{#if model.item.skill}}
	<h4>Skills:</h4>
	{{#each model.item.skill as |skill|}}
	  <span class="badge">{{skill.friendlyName}}</span>
	{{/each}}
{{/if}}