<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-to "player" tagName="li"}}
        	<a href="#">Main<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a>
        {{/link-to}}

		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Player <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">

            <li>
                {{link-to "Stats" "player.stats" model}}
            </li>

            <li>
                {{link-to "Items" "player.items"}}
            </li>

            <li>
                {{link-to "Skills" "player.skills" model}}
            </li>

            <li>
                {{link-to "Techs" "player.techs" model}}
            </li>

            <li>
                {{link-to "Gear" "player.gear"}}
            </li>

            <li>
                {{link-to "Items" "player.items"}}
            </li>

            <li>
                {{link-to "Edit" "player.edit" model}}
            </li>

          </ul>
        </li>

        <li>
            {{#link-to "options"}}
                Options<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span>
            {{/link-to}}
        </li>

        <li>
            {{#link-to "player.shop"}}
                Shop<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span>
            {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</nav>